/* picture of the show */
body
{
    background-color: #eee1b3;
    background-image: url('../pictures/tele_o50.png');
    background-position: center center;
    background-repeat:   no-repeat;
    height:  800px;
}
a img
{
    /* no border around image links*/
    border:none;
}
div.epcounter
{
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: smaller;
    padding-left: 16px;
}
div#data
{
    margin-left: 30px;
    background-color:transparent;
    width: 600px;
}
div#eppic
{
    float:right;
}

div#data div.hovertarget
{
    /*margin-left: 30px;*/
    padding-left: 5px;
    padding-top:  2px;
}
div#data ul li.episode
{
}
div#data div.hovertarget
{
    background-color: transparent;
}
div#data div.hovertarget span
{
    float:right;
}
div#data div.episodewrapper
{
    margin-top: 5px;
    width: 650px;
    border-bottom: 1px dotted lightBlue;
}
div#data div.isotorrent
{
    float:left;
}
div#data div.isotorrent .active
{
    background-color: white;
}
div#data span.marker,
div#data span.delete
{
    float: right;
    z-index: 99;
}
div#data div.seen div.hovertarget,
div#data li.seen 
{
    background-image: url('/episodes/_design/episodes/pictures/green_flag.gif');
    background-position:left top;
    background-repeat:no-repeat;
}

div#data ul li span
{
    display: block;
}
div#data ul li a div
{
    /* width: 200px; */
}

div#header a#futurelink
{
    position: absolute;
    right:    50px;
    width:    128px;
}
div#header a#pastlink
{
    position: absolute;
    top:      300px;
    right:    50px;
    width:    128px;
}
div#header div#logo 
{
  }
div#data .isohunt
{
    z-index: 99;
}
